{% extends 'student_panel/dashboard.html' %}

{% block style %}
<style>
    .input1 {
        outline: none;
        border: 1px solid grey;
        padding: 2px;
        border-radius: 10px;
        padding-left: 10px;
    }
</style>
{% endblock %}

{% block submit_assignment_sidebar %}
<li class="page-active">
    {% endblock %}
    {% block dashboard_sidebar %}
<li>
    {% endblock %}
    {% block namebar %}
    {% endblock %}
    <!-- Page body -->
    {% block body1 %}
    <div class="container-fluid">
        <div class="dashboard-heading mb-5">
            <h3 class="fs-22 font-weight-semi-bold">Submit Assignment</h3>
        </div>
        <form method="POST">
            <div class="card card-item">
                <div class="card-body">
                    <h3 class="fs-22 font-weight-semi-bold pb-2">Info</h3>
                    <div class="divider"><span></span></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="label-text">Course ID</label>
                                <input class="form-control form--control pl-3" type="text" name="id"
                                    placeholder="e.g. Learn JavaScript for Beginners " value="{{list[2]}}">
                            </div>
                        </div><!-- end col-lg-12 -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="label-text">Total Marks</label>
                                <input class="form-control form--control pl-3" type="text" name="text"
                                    placeholder="e.g. Empower yourself with this comprehensive JavaScript course."
                                    value="{{list[7]}}">
                            </div>
                        </div><!-- end col-lg-12 -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="label-text">Faculty Name</label>
                                <input class="form-control form--control pl-3" type="text" name="text"
                                    placeholder="Your name" value="Rohan">
                            </div>
                        </div><!-- end col-lg-12 -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="label-text">Assignment ID</label>
                                <input class="form-control form--control tags-input" type="text" name="text"
                                    placeholder="e.g. Javascript" value="{{list[0]}}">
                            </div>
                        </div><!-- end col-lg-12 -->



                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="label-text">Assignment Description</label>
                                <textarea class="form-control form--control user-text-editor pl-3"
                                    name="message">{{list[6]}}</textarea>
                            </div>
                        </div><!-- end col-lg-12 -->
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
            <div class="card card-item">
                <div class="card-body">
                    <h3 class="fs-22 font-weight-semi-bold pb-2">Drive link</h3>
                    <div class="divider"><span></span></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="label-text">Submission Answer</label>
                                <input class="form-control form--control pl-3" type="text" name="answer"
                                    placeholder="Submission Answer">
                            </div>
                        </div><!-- end col-lg-4 -->
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="label-text">Submission Details</label>
                                <input class="form-control form--control pl-3" type="text" name="desc"
                                    placeholder="Submission Details">
                            </div>
                        </div><!-- end col-lg-4 -->
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="label-text">Submission URL</label>
                                <input class="form-control form--control pl-3" type="text" name="url"
                                    placeholder="Submission URL">
                            </div>
                        </div><!-- end col-lg-4 -->
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
            <div class="course-submit-btn-box pb-4">
                <button class="btn theme-btn" type="submit">Submit Assignment</button>
            </div>
        </form>
    </div><!-- end container-fluid -->
    {% endblock %}
    <!-- /Page Wrapper -->