<style>
    .input1{
        outline: none;
        border: 1px solid grey;
        padding: 2px;
        border-radius: 10px;
        padding-left: 10px;
    }
</style>

{% extends 'student_panel/dashboard.html' %}
<!-- Page body -->
{% block body1 %}
        <div class="section-block mb-5"></div>
        <div class="dashboard-heading mb-5">
            <h3 class="fs-22 font-weight-semi-bold">My Profile</h3>
        </div>
        <div class="profile-detail mb-5">
            <ul class="generic-list-item generic-list-item-flash">
                <li><span class="profile-name">Student Id:</span><input class="profile-desc input1" value="{{ details[0] }}" disabled></li>
                <li><span class="profile-name">First Name:</span><span class="profile-desc">Alex</span></li>
                <li><span class="profile-name">Last Name:</span><span class="profile-desc">Smith</span></li>
                <li><span class="profile-name">User Name:</span><span class="profile-desc">alex-admin</span>
                </li>
                <li><span class="profile-name">Email:</span><span class="profile-desc">alexsmith@gmail.com</span></li>
                <li><span class="profile-name">Email:</span><span class="profile-desc">alexsmith@gmail.com</span></li>
                <li><span class="profile-name">Email:</span><span class="profile-desc">alexsmith@gmail.com</span></li>
                <li><span class="profile-name">Email:</span><span class="profile-desc">alexsmith@gmail.com</span></li>
                <li><span class="profile-name">Phone Number:</span><span class="profile-desc">(91) 7547
                    622250</span></li>
                <li>
                    <span class="profile-name">Bio:</span>
                    <span class="profile-desc">Hello! I am a Alex Smith, Washington area graphic designer with
                        over 6 years of graphic design experience. I specialize in designing infographics,
                        icons, brochures, and flyers.</span>
                </li>
            </ul>
        </div>
{% endblock %}
