<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UMS - Student Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image" href="{{ url_for('static',filename='assets/user_assets/img/favicon.ico') }}">

    <link href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&amp;display=swap"
        rel='stylesheet'>

    <!-- Other CSS -->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='assets/user_assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='assets/user_assets/css/line-awesome.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='assets/user_assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='assets/user_assets/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='assets/user_assets/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='assets/user_assets/css/fancybox.css') }}">


    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/user_assets/css/style.css') }}">


    {% block style %}
    {% endblock %}

</head>


<body>

    <header class="header-menu-area">
        <div class="header-menu-content dashboard-menu-content pr-30px pl-30px bg-white shadow-sm">
            <div class="container-fluid">
                <div class="main-menu-content">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="logo-box logo--box">
                                <a href="/student/dashboard" class="logo"><img
                                        src="../../static/assets/user_assets/images/logo1.png" alt="logo"></a>
                                <div class="user-btn-action">

                                    <div class="off-canvas-menu-toggle main-menu-toggle icon-element icon-element-sm shadow-sm"
                                        data-toggle="tooltip" data-placement="top" title="Main menu">
                                        <i class="la la-bars"></i>
                                    </div>
                                </div>
                            </div><!-- end logo-box -->
                            <div class="menu-wrapper">

                                <div class="nav-right-button d-flex align-items-center">
                                    <div class="user-action-wrap d-flex align-items-center">


                                        <div
                                            class="shop-cart notification-cart pr-3 mr-3 border-right border-right-gray">
                                            <ul>
                                                <li>
                                                    <p class="shop-cart-btn">
                                                        <i class="la la-bell"></i>
                                                        <span class="dot-status bg-1"></span>
                                                    </p>
                                                    <ul
                                                        class="cart-dropdown-menu after-none p-0 notification-dropdown-menu">
                                                        <li
                                                            class="menu-heading-block d-flex align-items-center justify-content-between">
                                                            <h4>Notifications</h4>
                                                            <span class="ribbon fs-14">18</span>
                                                        </li>
                                                        <li>
                                                            <div class="notification-body">
                                                                <a href="dashboard.html"
                                                                    class="media media-card align-items-center">
                                                                    <div
                                                                        class="icon-element icon-element-sm flex-shrink-0 bg-1 mr-3 text-white">
                                                                        <i class="la la-bolt"></i>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5>Your resume updated!</h5>
                                                                        <span
                                                                            class="d-block lh-18 pt-1 text-gray fs-13">1
                                                                            hour ago</span>
                                                                    </div>
                                                                </a>
                                                                <a href="dashboard.html"
                                                                    class="media media-card align-items-center">
                                                                    <div
                                                                        class="icon-element icon-element-sm flex-shrink-0 bg-2 mr-3 text-white">
                                                                        <i class="la la-lock"></i>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5>You changed password</h5>
                                                                        <span
                                                                            class="d-block lh-18 pt-1 text-gray fs-13">November
                                                                            12, 2019</span>
                                                                    </div>
                                                                </a>
                                                                <a href="dashboard.html"
                                                                    class="media media-card align-items-center">
                                                                    <div
                                                                        class="icon-element icon-element-sm flex-shrink-0 bg-3 mr-3 text-white">
                                                                        <i class="la la-user"></i>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5>Your account has been created successfully
                                                                        </h5>
                                                                        <span
                                                                            class="d-block lh-18 pt-1 text-gray fs-13">November
                                                                            12, 2019</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li class="menu-heading-block">
                                                            <a href="/student/dashboard#notification"
                                                                class="btn theme-btn w-100">Show
                                                                All Notifications <i
                                                                    class="la la-arrow-right icon ml-1"></i></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div><!-- end shop-cart -->
                                        <div class="shop-cart user-profile-cart">
                                            <ul>
                                                <li>
                                                    <div class="shop-cart-btn">
                                                        <div class="avatar-xs">
                                                            <img class="rounded-full img-fluid"
                                                                src="../../static/assets/user_assets/images/small-avatar-1.jpg"
                                                                alt="Avatar image">
                                                        </div>
                                                        <span class="dot-status bg-1"></span>
                                                    </div>
                                                    <ul
                                                        class="cart-dropdown-menu after-none p-0 notification-dropdown-menu">
                                                        <li class="menu-heading-block d-flex align-items-center">
                                                            <a href="teacher-detail.html"
                                                                class="avatar-sm flex-shrink-0 d-block">
                                                                <img class="rounded-full img-fluid"
                                                                    src="../../static/assets/user_assets/images/small-avatar-1.jpg"
                                                                    alt="Avatar image">
                                                            </a>
                                                            <div class="ml-2">
                                                                <h4><a href="#" class="text-black">Ron</a></h4>
                                                                <span class="d-block fs-14 lh-20">Ron@example.com</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div
                                                                class="theme-picker d-flex align-items-center justify-content-center lh-40">
                                                                <button
                                                                    class="theme-picker-btn dark-mode-btn w-100 font-weight-semi-bold justify-content-center"
                                                                    title="Dark mode">
                                                                    <svg class="mr-1" viewBox="0 0 24 24"
                                                                        stroke-width="1.5" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                        <path
                                                                            d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z">
                                                                        </path>
                                                                    </svg>
                                                                    Dark Mode
                                                                </button>
                                                                <button
                                                                    class="theme-picker-btn light-mode-btn w-100 font-weight-semi-bold justify-content-center"
                                                                    title="Light mode">
                                                                    <svg class="mr-1" viewBox="0 0 24 24"
                                                                        stroke-width="1.5" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                        <circle cx="12" cy="12" r="5"></circle>
                                                                        <line x1="12" y1="1" x2="12" y2="3"></line>
                                                                        <line x1="12" y1="21" x2="12" y2="23"></line>
                                                                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64">
                                                                        </line>
                                                                        <line x1="18.36" y1="18.36" x2="19.78"
                                                                            y2="19.78">
                                                                        </line>
                                                                        <line x1="1" y1="12" x2="3" y2="12"></line>
                                                                        <line x1="21" y1="12" x2="23" y2="12"></line>
                                                                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36">
                                                                        </line>
                                                                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22">
                                                                        </line>
                                                                    </svg>
                                                                    Light Mode
                                                                </button>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <ul class="generic-list-item">
                                                                <li>
                                                                    <a href="/student/enrolled-courses">
                                                                        <i class="la la-file-video-o mr-1"></i> My
                                                                        courses
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <div class="section-block"></div>
                                                                </li>
                                                                <li>
                                                                    <a href="/student/dashboard#notification">
                                                                        <i class="la la-bell mr-1"></i> Notifications
                                                                        <span
                                                                            class="badge bg-info text-white ml-2 p-1">9+</span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <div class="section-block"></div>
                                                                </li>
                                                                <li>
                                                                    <a href="/student/setting">
                                                                        <i class="la la-gear mr-1"></i> Settings
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <div class="section-block"></div>
                                                                </li>
                                                                <li>
                                                                    <a href="/student/profile">
                                                                        <i class="la la-user mr-1"></i> profile
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <div class="section-block"></div>
                                                                </li>

                                                                <li>
                                                                    <a href="/logout">
                                                                        <i class="la la-power-off mr-1"></i> Logout
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <div class="section-block"></div>
                                                                </li>

                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div><!-- end shop-cart -->
                                    </div>
                                </div><!-- end nav-right-button -->
                            </div><!-- end menu-wrapper -->
                        </div><!-- end col-lg-10 -->
                    </div><!-- end row -->
                </div>
            </div><!-- end container-fluid -->
        </div><!-- end header-menu-content -->
        <div class="off-canvas-menu custom-scrollbar-styled main-off-canvas-menu">
            <div class="off-canvas-menu-close main-menu-close icon-element icon-element-sm shadow-sm"
                data-toggle="tooltip" data-placement="left" title="Close menu">
                <i class="la la-times"></i>
            </div><!-- end off-canvas-menu-close -->
            <h4 class="off-canvas-menu-heading pt-90px">Alerts</h4>
            <ul class="generic-list-item off-canvas-menu-list pt-1 pb-2 border-bottom border-bottom-gray">
                <li><a href="/student/dashboard#notification">Notifications</a></li>
            </ul>
            <h4 class="off-canvas-menu-heading pt-20px">Account</h4>
            <ul class="generic-list-item off-canvas-menu-list pt-1 pb-2 border-bottom border-bottom-gray">
                <li><a href="/student/setting">Account settings</a></li>
                <li><a href="/student/placement-offers">Placement Offers</a></li>
            </ul>
            <h4 class="off-canvas-menu-heading pt-20px">Profile</h4>
            <ul class="generic-list-item off-canvas-menu-list pt-1 pb-2 border-bottom border-bottom-gray">
                <li><a href="/student/profile">profile</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>

            <div class="theme-picker d-flex align-items-center justify-content-center mt-4 px-3">
                <button
                    class="theme-picker-btn dark-mode-btn btn theme-btn-sm theme-btn-white w-100 font-weight-semi-bold justify-content-center"
                    title="Dark mode">
                    <svg class="mr-1" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                    </svg>
                    Dark Mode
                </button>
                <button
                    class="theme-picker-btn light-mode-btn btn theme-btn-sm theme-btn-white w-100 font-weight-semi-bold justify-content-center"
                    title="Light mode">
                    <svg class="mr-1" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="12" cy="12" r="5"></circle>
                        <line x1="12" y1="1" x2="12" y2="3"></line>
                        <line x1="12" y1="21" x2="12" y2="23"></line>
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                        <line x1="1" y1="12" x2="3" y2="12"></line>
                        <line x1="21" y1="12" x2="23" y2="12"></line>
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                    </svg>
                    Light Mode
                </button>
            </div>
        </div><!-- end off-canvas-menu -->

        <div class="mobile-search-form">
            <div class="d-flex align-items-center">
                <form method="post" class="flex-grow-1 mr-3">
                    <div class="form-group mb-0">
                        <input class="form-control form--control pl-3" type="text" name="search"
                            placeholder="Search for anything">
                        <span class="la la-search search-icon"></span>
                    </div>
                </form>
                <div class="search-bar-close icon-element icon-element-sm shadow-sm">
                    <i class="la la-times"></i>
                </div><!-- end off-canvas-menu-close -->
            </div>
        </div><!-- end mobile-search-form -->
        <div class="body-overlay"></div>
    </header><!-- end header-menu-area -->
    {% endblock %}


    {% block body %}

    {% block loader %}
    <!-- start cssload-loader -->
    <div class="preloader">
        <div class="loader">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <!-- end cssload-loader -->
    {% endblock %}


    <!-- HEADER Area -->
    {% block nav %}

    {% endblock %}
    <!-- End HEADER Area -->


    <!-- ================================
        START DASHBOARD AREA
    ================================= -->
    <section class="dashboard-area">
        <!-- Sidebar -->
        {% block sidebar %}
        {% endblock %}
        <!-- /Sidebar -->

        <!-- Page Wrapper -->
        {% block wrapper %}
        {% endblock %}
        <!-- /Page Wrapper -->

    </section><!-- end dashboard-area -->
    <!-- ================================
        END DASHBOARD AREA
    ================================= -->

    <!-- start scroll top -->
    <div id="scroll-top">
        <i class="la la-arrow-up" title="Go top"></i>
    </div>
    <!-- end scroll top -->

    <!-- Modal -->
    <div class="modal fade modal-container" id="deleteModal" tabindex="-1" role="dialog"
        aria-labelledby="deleteModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <span class="la la-exclamation-circle fs-60 text-warning"></span>
                    <h4 class="modal-title fs-19 font-weight-semi-bold pt-2 pb-1" id="deleteModalTitle">Your account
                        will be deleted permanently!</h4>
                    <p>Are you sure you want to delete your account?</p>
                    <div class="btn-box pt-4">
                        <button type="button" class="btn font-weight-medium mr-3" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn theme-btn theme-btn-sm lh-30">Ok, Delete</button>
                    </div>
                </div><!-- end modal-body -->
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div><!-- end modal -->


    {% block model %}

    {% endblock %}

    {% endblock %}
    <!-- / body -->

    {% block script %}
    <!-- jQuery -->
    <!-- template js files -->
    <script src="../../static/assets/user_assets/js/jquery-3.4.1.min.js"></script>
    <script src="../../static/assets/user_assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/assets/user_assets/js/bootstrap-select.min.js"></script>
    <script src="../../static/assets/user_assets/js/owl.carousel.min.js"></script>
    <script src="../../static/assets/user_assets/js/isotope.js"></script>
    <script src="../../static/assets/user_assets/js/jquery.counterup.min.js"></script>
    <script src="../../static/assets/user_assets/js/fancybox.js"></script>
    <script src="../../static/assets/user_assets/js/chart.js"></script>
    <script src="../../static/assets/user_assets/js/doughnut-chart.js"></script>
    <!-- <script src="../../static/assets/user_assets/js/bar-chart.js"></script> -->
    <script src="../../static/assets/user_assets/js/line-chart.js"></script>
    <script src="../../static/assets/user_assets/js/datedropper.min.js"></script>
    <script src="../../static/assets/user_assets/js/emojionearea.min.js"></script>
    <script src="../../static/assets/user_assets/js/animated-skills.js"></script>
    <script src="../../static/assets/user_assets/js/jquery.MultiFile.min.js"></script>

    <!-- Main JS -->
    <script src="../../static/assets/user_assets/js/main.js"></script>
    {% endblock %}

    {% block somescript %}

    {% endblock %}

</body>

</html>