{% extends 'faculty_panel/facultybase.html' %}

<!-- Sidebar -->
{% block nav %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block wrapper %}

<div class="wrapper coming_soon_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cmtk_group">
                    <div class="ct-logo">
                        <a href="index.html"><img src="../../static/assets/faculty_assets/images/ct_logo.svg"
                                alt=""></a>
                    </div>
                    <div class="cmtk_dt">
                        <h1 class="title_404">404</h1>
                        <h4 class="thnk_title1">The page you were looking for could not be found.</h4>
                        <a href="/faculty/dashboard" class="bk_btn">Go To Homepage</a>
                    </div>
                    <div class="tc_footer_main">

                        <div class="tc_footer_right">
                            <p>© 2021 <strong>UMS - IIT Indore</strong>. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- Page Wrapper -->