{% extends 'faculty_panel/facultybase.html' %}

<!-- Sidebar -->
{% block sidebar %}
<nav class="vertical_nav">
        <div class="left_section menu_left" id="js-menu">
                <div class="left_section">
                        <ul>
                                <li class="menu--item">
                                        <a href="/faculty/dashboard" class="menu--link " title="Dashboard">
                                                <i class="uil uil-apps menu--icon"></i>
                                                <span class="menu--label">Dashboard</span>
                                        </a>
                                </li>
                                <li class="menu--item">
                                        <a href="/faculty/courses" class="menu--link" title="Courses">
                                                <i class='uil uil-book-alt menu--icon'></i>
                                                <span class="menu--label">Courses</span>
                                        </a>
                                </li>
                                <li class="menu--item">
                                        <a href="instructor_analyics.html" class="menu--link" title="Analyics">
                                                <i class='uil uil-analysis menu--icon'></i>
                                                <span class="menu--label">Analytics</span>
                                        </a>
                                </li>
                                <li class="menu--item">
                                        <a href="/faculty/create_new_course" class="menu--link" title="Create Course">
                                                <i class='uil uil-plus-circle menu--icon'></i>
                                                <span class="menu--label">Create Assignment</span>
                                        </a>
                                </li>

                                <li class="menu--item">
                                        <a href="instructor_my_certificates.html" class="menu--link"
                                                title="My Certificates">
                                                <i class='uil uil-award menu--icon'></i>
                                                <span class="menu--label">Set Grades </span>
                                        </a>
                                </li>
                                <li class="menu--item">
                                        <a href="/faculty/notifications" class="menu--link" title="Notifications">
                                                <i class='uil uil-bell menu--icon'></i>
                                                <span class="menu--label">Notifications</span>
                                        </a>
                                </li>


                                <li class="menu--item">
                                        <a href="/faculty/time-table" class="menu--link" title="Statements">
                                                <i class='uil uil-file-alt menu--icon'></i>
                                                <span class="menu--label">Time-Table</span>
                                        </a>
                                </li>

                        </ul>
                </div>
                <div class="left_section pt-2">
                        <ul>
                                <li class="menu--item">
                                        <a href="/faculty/setting" class="menu--link active" title="Setting">
                                                <i class='uil uil-cog menu--icon'></i>
                                                <span class="menu--label">Setting</span>
                                        </a>
                                </li>

                        </ul>
                </div>
        </div>
</nav>
{% endblock %}
<!-- /Sidebar -->


<!-- Page Wrapper -->
{% block wrapper %}
<div class="wrapper">
        <div class="sa4d25">
                <div class="container-fluid">
                        <div class="row">
                                <div class="col-lg-12">
                                        <h2 class="st_title"><i class='uil uil-cog'></i> Setting</h2>
                                        <div class="setting_tabs">
                                                <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
                                                        <li class="nav-item">
                                                                <a class="nav-link active" id="pills-account-tab"
                                                                        data-toggle="pill" href="#pills-account"
                                                                        role="tab" aria-selected="true">Account</a>
                                                        </li>


                                                        <li class="nav-item">
                                                                <a class="nav-link" id="pills-closeaccount-tab"
                                                                        data-toggle="pill" href="#pills-closeaccount"
                                                                        role="tab" aria-selected="false">Close
                                                                        Account</a>
                                                        </li>
                                                </ul>
                                        </div>
                                        <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active" id="pills-account"
                                                        role="tabpanel" aria-labelledby="pills-account-tab">
                                                        <div class="account_setting">
                                                                <h4>Your UMS Account</h4>
                                                                <p>This is your public presence on UMS. You need a
                                                                        account to upload your paid
                                                                        courses, comment on courses, purchased by
                                                                        students, or earning.</p>
                                                                <div class="basic_profile">
                                                                        <div class="basic_ptitle">
                                                                                <h4>Basic Profile</h4>
                                                                                <p>Add information about yourself</p>
                                                                        </div>
                                                                        <div class="basic_form">
                                                                                <div class="row">
                                                                                        <div class="col-lg-8">
                                                                                                <div class="row">
                                                                                                        <div
                                                                                                                class="col-lg-6">
                                                                                                                <div
                                                                                                                        class="ui search focus mt-30">
                                                                                                                        <div
                                                                                                                                class="ui left icon input swdh11 swdh19">
                                                                                                                                <input class="prompt srch_explore"
                                                                                                                                        type="text"
                                                                                                                                        name="name"
                                                                                                                                        value="Kuldeep"
                                                                                                                                        id="id[name]"
                                                                                                                                        required=""
                                                                                                                                        maxlength="64"
                                                                                                                                        placeholder="First Name">
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                        <div
                                                                                                                class="col-lg-6">
                                                                                                                <div
                                                                                                                        class="ui search focus mt-30">
                                                                                                                        <div
                                                                                                                                class="ui left icon input swdh11 swdh19">
                                                                                                                                <input class="prompt srch_explore"
                                                                                                                                        type="text"
                                                                                                                                        name="surname"
                                                                                                                                        value="Singh"
                                                                                                                                        id="id[surname]"
                                                                                                                                        required=""
                                                                                                                                        maxlength="64"
                                                                                                                                        placeholder="Last Name">
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                        <div
                                                                                                                class="col-lg-12">
                                                                                                                <div
                                                                                                                        class="ui search focus mt-30">
                                                                                                                        <div
                                                                                                                                class="ui left icon input swdh11 swdh19">
                                                                                                                                <input class="prompt srch_explore"
                                                                                                                                        type="text"
                                                                                                                                        name="headline"
                                                                                                                                        value="I  am a Web Designer/Developer"
                                                                                                                                        id="id_headline"
                                                                                                                                        required=""
                                                                                                                                        maxlength="60"
                                                                                                                                        placeholder="Headline">
                                                                                                                                <div class="form-control-counter"
                                                                                                                                        data-purpose="form-control-counter">
                                                                                                                                        36
                                                                                                                                </div>
                                                                                                                        </div>
                                                                                                                        <div
                                                                                                                                class="help-block">
                                                                                                                                Add
                                                                                                                                a
                                                                                                                                professional
                                                                                                                                headline
                                                                                                                                like,
                                                                                                                                "Engineer
                                                                                                                                at
                                                                                                                                UMS"
                                                                                                                                or
                                                                                                                                "Architect."
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                        <div
                                                                                                                class="col-lg-12">
                                                                                                                <div
                                                                                                                        class="ui search focus mt-30">
                                                                                                                        <div
                                                                                                                                class="ui form swdh30">
                                                                                                                                <div
                                                                                                                                        class="field">
                                                                                                                                        <textarea
                                                                                                                                                rows="3"
                                                                                                                                                name="description"
                                                                                                                                                id="id_about"
                                                                                                                                                placeholder="Write a little description about you..."></textarea>
                                                                                                                                </div>
                                                                                                                        </div>
                                                                                                                        <div
                                                                                                                                class="help-block">
                                                                                                                                Links
                                                                                                                                and
                                                                                                                                coupon
                                                                                                                                codes
                                                                                                                                are
                                                                                                                                not
                                                                                                                                permitted
                                                                                                                                in
                                                                                                                                this
                                                                                                                                section.
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                        <div
                                                                                                                class="col-lg-12">
                                                                                                                <div
                                                                                                                        class="divider-1">
                                                                                                                </div>
                                                                                                        </div>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <div class="basic_profile1">
                                                                        <div class="basic_ptitle">
                                                                                <h4>Profile Links</h4>
                                                                        </div>
                                                                        <div class="basic_form">
                                                                                <div class="row">
                                                                                        <div class="col-lg-8">
                                                                                                <div class="row">
                                                                                                        <div
                                                                                                                class="col-lg-12">
                                                                                                                <div
                                                                                                                        class="ui search focus mt-30">
                                                                                                                        <div
                                                                                                                                class="ui left icon labeled input swdh11 swdh31">
                                                                                                                                <div
                                                                                                                                        class="ui label lb12">
                                                                                                                                        https://
                                                                                                                                </div>
                                                                                                                                <input class="prompt srch_explore"
                                                                                                                                        type="text"
                                                                                                                                        name="site"
                                                                                                                                        value="kuldeepsingh.net"
                                                                                                                                        id="id_site"
                                                                                                                                        required=""
                                                                                                                                        maxlength="64"
                                                                                                                                        placeholder="yoursite.com">
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                        <div
                                                                                                                class="col-lg-12">
                                                                                                                <div
                                                                                                                        class="ui search focus mt-30">
                                                                                                                        <div
                                                                                                                                class="ui left icon labeled input swdh11 swdh31">
                                                                                                                                <div
                                                                                                                                        class="ui label lb12">
                                                                                                                                        http://facebook.com/
                                                                                                                                </div>
                                                                                                                                <input class="prompt srch_explore"
                                                                                                                                        type="text"
                                                                                                                                        name="facebooklink"
                                                                                                                                        id="id_facebook"
                                                                                                                                        required=""
                                                                                                                                        maxlength="64"
                                                                                                                                        placeholder="Facebook Profile">
                                                                                                                        </div>
                                                                                                                        <div
                                                                                                                                class="help-block">
                                                                                                                                Add
                                                                                                                                your
                                                                                                                                Facebook
                                                                                                                                username
                                                                                                                                (e.g.
                                                                                                                                johndoe).
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                        <div
                                                                                                                class="col-lg-12">
                                                                                                                <div
                                                                                                                        class="ui search focus mt-30">
                                                                                                                        <div
                                                                                                                                class="ui left icon labeled input swdh11 swdh31">
                                                                                                                                <div
                                                                                                                                        class="ui label lb12">
                                                                                                                                        http://twitter.com/
                                                                                                                                </div>
                                                                                                                                <input class="prompt srch_explore"
                                                                                                                                        type="text"
                                                                                                                                        name="twitterlink"
                                                                                                                                        id="id_twitter"
                                                                                                                                        required=""
                                                                                                                                        maxlength="64"
                                                                                                                                        placeholder="Twitter Profile">
                                                                                                                        </div>
                                                                                                                        <div
                                                                                                                                class="help-block">
                                                                                                                                Add
                                                                                                                                your
                                                                                                                                Twitter
                                                                                                                                username
                                                                                                                                (e.g.
                                                                                                                                johndoe).
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                        <div
                                                                                                                class="col-lg-12">
                                                                                                                <div
                                                                                                                        class="ui search focus mt-30">
                                                                                                                        <div
                                                                                                                                class="ui left icon labeled input swdh11 swdh31">
                                                                                                                                <div
                                                                                                                                        class="ui label lb12">
                                                                                                                                        http://www.linkedin.com/
                                                                                                                                </div>
                                                                                                                                <input class="prompt srch_explore"
                                                                                                                                        type="text"
                                                                                                                                        name="linkedinlink"
                                                                                                                                        id="id_linkedin"
                                                                                                                                        required=""
                                                                                                                                        maxlength="64"
                                                                                                                                        placeholder="Linkedin Profile">
                                                                                                                        </div>
                                                                                                                        <div
                                                                                                                                class="help-block">
                                                                                                                                Input
                                                                                                                                your
                                                                                                                                LinkedIn
                                                                                                                                resource
                                                                                                                                id
                                                                                                                                (e.g.
                                                                                                                                in/johndoe).
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                        <div
                                                                                                                class="col-lg-12">
                                                                                                                <div
                                                                                                                        class="ui search focus mt-30">
                                                                                                                        <div
                                                                                                                                class="ui left icon labeled input swdh11 swdh31">
                                                                                                                                <div
                                                                                                                                        class="ui label lb12">
                                                                                                                                        http://www.youtube.com/
                                                                                                                                </div>
                                                                                                                                <input class="prompt srch_explore"
                                                                                                                                        type="text"
                                                                                                                                        name="youtubelink"
                                                                                                                                        id="id_youtube"
                                                                                                                                        required=""
                                                                                                                                        maxlength="64"
                                                                                                                                        placeholder="Youtube Profile">
                                                                                                                        </div>
                                                                                                                        <div
                                                                                                                                class="help-block">
                                                                                                                                Input
                                                                                                                                your
                                                                                                                                Youtube
                                                                                                                                username
                                                                                                                                (e.g.
                                                                                                                                johndoe).
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </div>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <button class="save_btn" type="submit">Save
                                                                        Changes</button>
                                                        </div>
                                                </div>

                                                <div class="tab-pane fade" id="pills-closeaccount" role="tabpanel"
                                                        aria-labelledby="pills-closeaccount-tab">
                                                        <div class="account_setting">
                                                                <h4>Close account</h4>
                                                                <p><strong>Warning:</strong> If you close your account,
                                                                        you will be unsubscribed from
                                                                        all your 5 courses, and will lose access
                                                                        forever.</p>
                                                        </div>
                                                        <div class="row">
                                                                <div class="col-lg-4">
                                                                        <div class="ui search focus mt-30">
                                                                                <div
                                                                                        class="ui left icon input swdh11 swdh19">
                                                                                        <input class="prompt srch_explore"
                                                                                                type="password"
                                                                                                name="yourassword"
                                                                                                id="id_yourpassword"
                                                                                                required=""
                                                                                                maxlength="64"
                                                                                                placeholder="Enter Your Password">
                                                                                </div>
                                                                                <div class="help-block">Are you sure you
                                                                                        want to close your account?
                                                                                </div>
                                                                        </div>
                                                                        <button class="save_payout_btn mbs20"
                                                                                type="submit">Close Account</button>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <footer class="footer mt-30 ">
                <div class="container ">
                        <div class="row ">

                                <div class="col-lg-12 my-2">
                                        <div class="row ">
                                                <div class="col-md-6 ">
                                                        <ul class="fotb_left ">
                                                                <li>
                                                                        <a href="index.html">
                                                                                <div class="footer_logo">
                                                                                        <img src="../../static/assets/faculty_assets/images/logo1.svg"
                                                                                                alt="">
                                                                                </div>
                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <p>© 2021 <strong>UMS - IIT
                                                                                        Indore</strong>. All
                                                                                Rights Reserved.</p>
                                                                </li>
                                                        </ul>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="edu_social_links">
                                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                                <a href="#"><i class="fab fa-twitter"></i></a>

                                                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                                <a href="#"><i class="fab fa-instagram"></i></a>

                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </footer>
</div>
{% endblock %}
<!-- /Page Wrapper -->