{% extends 'admin/adminbase.html' %}

{% block dashboard %}
<li>
	<a href="/admin/dashboard"><i class="fas fa-th-large"></i> <span>Dashboard</span></a>
</li>
{% endblock %}
{% block faculty_sidebar %}
<li class="submenu active">
	<a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Faculty</span> <span class="menu-arrow"></span></a>
	<ul>
		<li><a href="/admin/faculty_list">Faculty List</a></li>
		<li><a href="/admin/add_faculty" class="active">Faculty Add</a></li>
		<li><a href="/admin/faculty_list_edit">Faculty Edit</a></li>
	</ul>
</li>
{% endblock %}
<!-- /Sidebar -->


{% block pagewrapper %}

<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Add Faculty</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/admin/faculty_list">Faculty</a></li>
						<li class="breadcrumb-item active">Add Faculty</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-sm-12">

				<div class="card">
					<div class="card-body">
						<form method="POST">
							<div class="row">
								<div class="col-12">
									<h5 class="form-title"><span>Faculty Information</span></h5>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Faculty ID</label>
										<input type="text" class="form-control" name="faculty_id" required>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>First Name</label>
										<input type="text" class="form-control" name="first_name" required>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Last Name</label>
										<input type="text" class="form-control" name="last_name">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Gender</label>
										<select class="form-control" name="gender" required>
											<option value="">Select Gender</option>
											<option>Male</option>
											<option>Female</option>
											<option>Others</option>
										</select>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Date of Birth</label>
										<input type="date" class="form-control" name="dob">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Mobile</label>
										<input type="text" class="form-control" name="phone" minlength="10"
											maxlength="10">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Address</label>
										<input class="form-control" type="text" name="address">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Email ID</label>
										<input type="email" class="form-control" name="email">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Salary</label>
										<input type="number" class="form-control" name="salary">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Research Interests</label>
										<input type="text" class="form-control" name="ri">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Position</label>
										<select name="position" class="form-control" required>
											<option value="">Select Position</option>
											<option value="Professor">
												Professor
											</option>
											<option value="Associate Professor">
												Associate Professor
											</option>
											<option value="Assistant Professor">
												Assistant Professor
											</option>
											<option value="Visting Professor">
												Visting Professor
											</option>
										</select>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Department</label>
										<select name="department" class="form-control" required>
											<option value="">Select Department</option>
											{% for dept in deptList %}
											<option value="{{ dept[0] }}">
												{{ dept[1] }}
											</option>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="col-12">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
<!-- /Page Wrapper -->
{% endblock %}