{% extends 'admin/adminbase.html' %}

{% block pagewrapper %}

<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Add Course</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/admin/course_list">Courses</a></li>
						<li class="breadcrumb-item active">Add course</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-sm-12">

				<div class="card">
					<div class="card-body">
						<form method="POST">
							<div class="row">
								<div class="col-12">
									<h5 class="form-title"><span>Course Information</span></h5>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Course ID</label>
										<input type="text" class="form-control" name="c_id">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Course Name</label>
										<input type="text" class="form-control" name="name">
									</div>
								</div>
								<!-- <div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Semester</label>
										<input type="text" class="form-control" name="sem">
									</div>
								</div> -->
                <div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Credits</label>
										<input type="number" class="form-control" step="0.5" name="credits">
									</div>
								</div>
								<div class="col-12">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
<!-- /Page Wrapper -->

{%endblock %}