{% extends 'admin/adminbase.html' %}

{% block pagewrapper %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Course</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">Course</li>
					</ul>
				</div>
				<div class="col-auto text-right float-right ml-auto">
					<a href="/admin/course_excel" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
					<a href="/admin/add_course" class="btn btn-primary"><i class="fas fa-plus"></i></a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-sm-12">

				<div class="card card-table">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0 datatable">
								<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Credits</th>
										<th>Hours</th>
										<th>Year</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
                  {% for item in list %}
									<tr>
										<td>{{item[0]}}</td>
										<td>
											<h2>
												<a>{{item[1]}}</a>
											</h2>
										</td>
										<td>{{item[4]}}</td>
										<td>{{item[5]}}</td>
										<td>{{item[6]}}</td>
										<td class="text-right">
											<div class="actions">
												<a href="/admin/course_edit/{{item[0]}}" class="btn btn-sm bg-success-light mr-2">
													<i class="fas fa-pen"></i>
												</a>
												<a href="#" class="btn btn-sm bg-danger-light">
													<i class="fas fa-trash"></i>
												</a>
											</div>
										</td>
									</tr>
                  {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<p>Copyright © 2021 IIT Indore.</p>
	</footer>
	<!-- /Footer -->

</div>
<!-- /Page Wrapper -->
{% endblock %}