<script>
  function edit(){
    var baseid = (String)(event.target.id);
    var index = 'sem' + baseid.substr(1, baseid.length);
    var element = document.querySelector('#'+index);
    element.classList.toggle('disp');
  }
</script>
<style>
  .nodisp{
    display: none;
  }
  .disp{
    display: inline-block;
    width: 100px;
    margin-left: 2px;
  }
</style>
{% extends 'admin/adminbase.html' %}
{% block dashboard %}
<li>
		<a href="/admin/dashboard"><i class="fas fa-th-large"></i> <span>Dashboard</span></a>
</li>
{% endblock %}
{% block course_sidebar %}
<li class="submenu active">
		<a href="#"><i class="fas fa-book-reader"></i> <span> Courses</span> <span
						class="menu-arrow"></span></a>
		<ul>
				<li><a href="/admin/course_list">Course List</a></li>
				<li><a href="/admin/add_course">Course Add</a></li>
				<li><a href="/admin/course_sem_assign">Course Edit</a></li>
        <li><a href="/admin/course_student_assign" class="active">Course Assign</a></li>
      </ul>
</li>
{% endblock %}
{% block pagewrapper %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Course</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">Course-assign student</li>
					</ul>
				</div>
				<div class="col-auto text-right float-right ml-auto">
					<a href="/admin/course_excel" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
					<a href="/admin/add_course" class="btn btn-primary"><i class="fas fa-plus"></i></a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-sm-12">

				<div class="card card-table">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0 datatable">
								<thead>
									<tr>
										<th>Student ID</th>
										<th>Name</th>
										<th>Sem</th>
										<th>Courses available</th>
										<th>Courses enrolled</th>
									</tr>
								</thead>
								<tbody>
                  {% for id in course_student %}
                  {% set item1 = course_student[id][0] %}
                  <tr>
										<td>{{item1[0]}}</td>
										<td>
											<h2>
												<a>{{item1[1]}}</a>
											</h2>
										</td>
										<td>
											<h2>
												<a>{{item1[4]}}</a>
											</h2>
										</td>
                    <td>
                  {% for item in course_student[id] %}
                    <form method="POST" action="{{ url_for('admin_course_student_add', student_id=id) }}" style="display: inline-block  ;">
									    <button class="btn btn-info" name="sec_id" value="{{item[3]}}">{{item[2]}}</button>
                    </form>
                  {% endfor %}
                    </td>
										<td>
                      {% for item in course_enrolled[id] %}
                      <form method="POST" action="{{ url_for('admin_course_student_delete', student_id=id) }}" style="display: inline-block  ;">
                        <button class="btn btn-warning" name="sec_id" value="{{item[3]}}">{{item[2]}}</button>
                      </form>
                      {% endfor %}
                        </td>
									</tr>
                  {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<p>Copyright © 2021 IIT Indore.</p>
	</footer>
	<!-- /Footer -->

</div>

<!-- /Page Wrapper -->
{% endblock %}