{% extends 'base.html' %}

{% block body %}

{% block view_users %}
<h1 style="margin-top: 100px;">Welcome to Admin Section</h1>
<a href="/logout">Logout</a>
{% endblock %}
<ul>
  <li><a href="/admin/add_student_dashboard">Add student</a></li>
  <li><a href="/admin/add_faculty_dashboard">Add faculty</a></li>
  <li><a href="/admin/student_list">Student list</a></li>
  <li><a href="/admin/faculty_list">Faculty list</a></li>
  <li><a href="/admin/view_grades">view grades</a></li>
</ul>
{% endblock %}