{% extends 'admin/adminbase.html' %}

{% block department_sidebar %}
<li class="submenu">
	<a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
	<ul>
		<li><a href="/admin/department_list">Department List</a></li>
		<li><a href="/admin/add_department">Department Add</a></li>
		<li><a href="/admin/department_list_edit" class="active">Department Edit</a></li>
	</ul>
</li>
{% endblock %}

{% block pagewrapper %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Edit Department</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/admin/department_list">Department</a></li>
						<li class="breadcrumb-item active">Edit Department</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-sm-12">

				<div class="card">
					<div class="card-body">
						<form method="POST">
							<div class="row">
								<div class="col-12">
									<h5 class="form-title"><span>Department Details</span></h5>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Department ID</label>
										<input type="text" class="form-control" name="dept_id" value="{{deptDetails[0]}}" disabled>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Department Name</label>
										<input type="text" class="form-control" name="name" value="{{deptDetails[1]}}" required>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Head of Department</label>
										<select name="hod_id" class="form-control">
											<option value="">Select HOD</option>
											{% for faculty in facultyList %}
											<option value="{{ faculty[0] }}" {% if faculty[0] == deptDetails[3] %}selected{% endif %}>
												{{ faculty[1] + " " + faculty[2] }}
											</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Department Budget</label>
										<input type="number" class="form-control" name="budget" value="{{deptDetails[2]}}">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Contact number</label>
										<input type="tel" class="form-control" name="phone" pattern="[0-9]{10}"
											maxlength="10" value="{{deptDetails[4]}}" required>
									</div>
								</div>
								<div class="col-12">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
<!-- /Page Wrapper -->
{% endblock %}