<table>
  <tr>
    <th>Name</th>
    <th>Info</th>
    <th>Profile</th>
    <th>Dept</th>
    <th>Profile</th>
    <th>Role</th>
  </tr>
  {% for items in list %}
  <tr>
    <td>
      {{ items[1] }}
    </td>
    <td>
      {{ items[2] }}
    </td>
    <td>
      {{ items[6] }}
    </td>
    <td>
      <a class="nolink" href="/admin/set_faculty_profile"><button type="button" class="btn btn-primary">Profile</button></a>
    </td>
    <td>
      <a class="nolink" href="/admin/set_role"><button type="button" class="btn btn-primary">Role</button> </a>   
    </td>
  </tr>
  {% endfor %}
</table>