{% extends 'admin/adminbase.html' %} {% block pagewrapper %}
<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Inbox</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/admin/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Inbox</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <ul class="inbox-menu">
          <li class="active">
            <a href="/admin/all_requests"
              ><i class="fas fa-download"></i> Inbox
              <span class="mail-count">(5)</span></a
            >
          </li>
          <li>
            <a href="/admin/accepted_requests"><i class="far fa-star"></i> Completed</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-9 col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="email-header">
              <div class="row">
                <div class="col top-action-left">
                  <div class="float-left">
                    <div class="btn-group dropdown-action">
                      <button
                        type="button"
                        class="btn btn-white dropdown-toggle"
                        data-toggle="dropdown"
                      >
                        Select <i class="fas fa-angle-down"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">None</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Read</a>
                        <a class="dropdown-item" href="#">Unread</a>
                      </div>
                    </div>
                    <div class="btn-group dropdown-action">
                      <button
                        type="button"
                        class="btn btn-white dropdown-toggle"
                        data-toggle="dropdown"
                      >
                        Actions <i class="fas fa-angle-down"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Reply</a>
                        <a class="dropdown-item" href="#">Forward</a>
                        <a class="dropdown-item" href="#">Archive</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mark As Read</a>
                        <a class="dropdown-item" href="#">Mark As Unread</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Delete</a>
                      </div>
                    </div>
                    <div class="btn-group dropdown-action">
                      <button
                        type="button"
                        class="btn btn-white dropdown-toggle"
                        data-toggle="dropdown"
                      >
                        <i class="fas fa-folder"></i>
                        <i class="fas fa-angle-down"></i>
                      </button>
                      <div role="menu" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Social</a>
                        <a class="dropdown-item" href="#">Forums</a>
                        <a class="dropdown-item" href="#">Updates</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Spam</a>
                        <a class="dropdown-item" href="#">Trash</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">New</a>
                      </div>
                    </div>
                    <div class="btn-group dropdown-action">
                      <button
                        type="button"
                        data-toggle="dropdown"
                        class="btn btn-white dropdown-toggle"
                      >
                        <i class="fas fa-tags"></i>
                        <i class="fas fa-angle-down"></i>
                      </button>
                      <div role="menu" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Work</a>
                        <a class="dropdown-item" href="#">Family</a>
                        <a class="dropdown-item" href="#">Social</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Primary</a>
                        <a class="dropdown-item" href="#">Promotions</a>
                        <a class="dropdown-item" href="#">Forums</a>
                      </div>
                    </div>
                    <div class="btn-group dropdown-action mail-search">
                      <input
                        type="text"
                        placeholder="Search Messages"
                        class="form-control search-message"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-auto top-action-right">
                  <div class="text-right">
                    <button
                      type="button"
                      title="Refresh"
                      data-toggle="tooltip"
                      class="btn btn-white d-none d-md-inline-block"
                    >
                      <i class="fas fa-sync-alt"></i>
                    </button>
                    <div class="btn-group">
                      <a class="btn btn-white"
                        ><i class="fas fa-angle-left"></i
                      ></a>
                      <a class="btn btn-white"
                        ><i class="fas fa-angle-right"></i
                      ></a>
                    </div>
                  </div>
                  <div class="text-right">
                    <span class="text-muted d-none d-md-inline-block"
                      >Showing 10 of 112
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="email-content">
              <div class="table-responsive">
                <table class="table table-inbox table-hover">
                  <thead></thead>
                  <tbody>
										{% for item in list %}
                    <tr class="unread clickable-row">
                      <td>
                        <input type="checkbox" class="checkmail" />
                      </td>
                      <td>
                        <span class="mail-important"
                          ><i class="fas fa-star starred"></i
                        ></span>
                      </td>
                      <td class="name">request_{{item[0]}}</td>
                      <td class="name">{{item[1]}}</td>
                      <td class="name">id_{{item[2]}}</td>
                      <td class="subject">
												{{item[3]}}
											</td>
											{% if item[5] == 'pending' %}
                      <td>
                        <form method="POST" action="/admin/accepted_requests">
													<button class="btn btn-success" name="r_id" value="{{item[0]}}"><i class="fa fa-check"></i></button>
													</a>
                      </td>
											{% endif %}
                      <td class="mail-date">{{item[4]}}</td>
                    </tr>
										{% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Wrapper -->
{% endblock %}
