{% extends 'admin/adminbase.html' %}
{% block dashboard %}
<li>
	<a href="/admin/dashboard"><i class="fas fa-th-large"></i> <span>Dashboard</span></a>
</li>
{% endblock %}
{% block student_sidebar %}
<li class="submenu active">
	<a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
	<ul>
		<li><a href="/admin/student_list">Student List</a></li>
		<li><a href="/admin/add_student">Student Add</a></li>
		<li><a href="/admin/student_list_edit">Student Edit</a></li>
	</ul>
</li>
{% endblock %}
<!-- /Sidebar -->

{% block pagewrapper %}
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Students</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="\admin\dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">Students</li>
					</ul>
				</div>
				<div class="col-auto text-right float-right ml-auto">
					<a href="/admin/student_excel" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i>
						Download</a>
					<a href="/admin/add_student" class="btn btn-primary"><i class="fas fa-plus"></i></a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-sm-12">

				<div class="card card-table">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0 datatable">
								<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>DOB</th>
										<th>Mobile Number</th>
										<th>Address</th>
										<th>Sem</th>
										<th>CPI</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								{% for item in list %}
								<tbody>
									<tr>
										<td>{{ item[0] }}</td>
										<td>
											<h2 class="table-avatar">
												<a href="/admin/student_view/{{ item[0] }}"
													class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle"
														src="/static/assets/Admin_assets/img/profiles/avatar-02.jpg"
														alt="User Image"></a>
												<a href="/admin/student_view/{{ item[0] }}">{{item[1]}}</a>
											</h2>
										</td>
										<td>{{item[7]}}</td>
										<td>{{ item[6] }}</td>
										<td>{{ item[4] }}</td>
										<td>{{ item[9] }}</td>
										<td>{{ item[10] }}</td>
										<td class="text-right">
											<div class="actions">
												<a href="/admin/edit-student/{{ item[0] }}"
													class="btn btn-sm bg-success-light mr-2">
													<i class="fas fa-pen"></i>
												</a>
												<form method='POST'
													action="{{url_for('admin_student_delete', student_id=item[0] )}}"
													class="btn btn-sm bg-danger-light">
													<button type="submit" class="opacity: 0;"><i
															class="fas fa-trash"></i></button>
												</form>
											</div>
										</td>
									</tr>
								</tbody>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}