{% extends 'department/departmentbase.html' %}



<!-- Sidebar -->
{% block sidebar %}
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a href="/department" class="menu--link " title="Home">
                        <i class='uil uil-home-alt menu--icon'></i>
                        <span class="menu--label">Home</span>
                    </a>
                </li>


                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link active" title="Tests">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">Computer Science</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/cse" class="sub_menu--link active">CSE</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>

                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Pages">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">Electrical</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/ee/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/ee/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/ee/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/ee/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>
                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Tests">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">Mechanical</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/mech/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mech/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mech/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mech/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>

                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Pages">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">Civil</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/civil/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/civil/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/civil/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/civil/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>
                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Pages">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">MEMS</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/mems/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mems/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mems/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mems/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>


    </div>
</nav>
{% endblock %}
<!-- /Sidebar -->

<!-- Page Wrapper -->
{% block wrapper %}
<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="st_title"><i class="uil uil-star"></i>CSE, HOD</h2>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-xl-6 col-lg-4">
                    <div class="reviews_right">
                        <div class="fcrse_2 mb-30">
                            <div class="tutor_img">
                                <a href="my_instructor_profile_view.html"><img
                                        src="../../static/assets/faculty_assets/images/left-imgs/img-10.jpg" alt=""></a>
                            </div>
                            <div class="tutor_content_dt">
                                <div class="tutor150">
                                    <a href="my_instructor_profile_view.html" class="tutor_name">Joginder
                                        Singh</a>
                                    <div class="mef78" title="Verify">
                                        <i class="uil uil-check-circle"></i>
                                    </div>
                                </div>
                                <div class="tutor_cate">Web Developer, Designer, and Teacher</div>
                                <ul class="tutor_social_links">
                                    <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                                <div class="tut1250">
                                    <span class="vdt15">615K Students</span>
                                    <span class="vdt15">12 Courses</span>
                                </div>
                                <a href="/department/instructor_profile_view" class="prfle12link">Go To
                                    Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 col-lg-5 ">
                    <div class="right_side">
                        <div class="fcrse_3">
                            <div class="cater_ttle">
                                <h4>All Student Feedback</h4>
                            </div>
                            <div class="reviews_left">
                                <div class="total_rating ">
                                    <div class="_rate001">4.6</div>
                                    <div class="rating-box">
                                        <span class="rating-star full-star"></span>
                                        <span class="rating-star full-star"></span>
                                        <span class="rating-star full-star"></span>
                                        <span class="rating-star full-star"></span>
                                        <span class="rating-star half-star"></span>
                                    </div>
                                    <div class="_rate002">All Rating</div>
                                </div>
                                <div class="_rate003">
                                    <div class="_rate004">
                                        <div class="progress progress1">
                                            <div class="progress-bar w-70" role="progressbar" aria-valuenow="70"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <div class="rating-box">
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star full-star"></span>
                                        </div>
                                        <div class="_rate002">70%</div>
                                    </div>
                                    <div class="_rate004">
                                        <div class="progress progress1">
                                            <div class="progress-bar w-30" role="progressbar" aria-valuenow="30"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <div class="rating-box">
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star empty-star"></span>
                                        </div>
                                        <div class="_rate002">40%</div>
                                    </div>
                                    <div class="_rate004">
                                        <div class="progress progress1">
                                            <div class="progress-bar w-5" role="progressbar" aria-valuenow="10"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <div class="rating-box">
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star empty-star"></span>
                                            <span class="rating-star empty-star"></span>
                                        </div>
                                        <div class="_rate002">5%</div>
                                    </div>
                                    <div class="_rate004">
                                        <div class="progress progress1">
                                            <div class="progress-bar w-2" role="progressbar" aria-valuenow="2"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <div class="rating-box">
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star empty-star"></span>
                                            <span class="rating-star empty-star"></span>
                                            <span class="rating-star empty-star"></span>
                                        </div>
                                        <div class="_rate002">1%</div>
                                    </div>
                                    <div class="_rate004">
                                        <div class="progress progress1">
                                            <div class="progress-bar w-1" role="progressbar" aria-valuenow="0"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <div class="rating-box">
                                            <span class="rating-star full-star"></span>
                                            <span class="rating-star empty-star"></span>
                                            <span class="rating-star empty-star"></span>
                                            <span class="rating-star empty-star"></span>
                                            <span class="rating-star empty-star"></span>
                                        </div>
                                        <div class="_rate002">1%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}
<!-- /Page Wrapper -->