{% extends 'department/departmentbase.html' %}

<!-- Sidebar -->
{% block sidebar %}
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a href="/department" class="menu--link" title="Home">
                        <i class='uil uil-home-alt menu--icon'></i>
                        <span class="menu--label">Home</span>
                    </a>
                </li>


                <li class="menu--item  menu--item__has_sub_menu ">
                    <label class="menu--link active" title="Tests">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label active">Computer Science</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/cse" class="sub_menu--link">CSE</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/student_list" class="sub_menu--link ">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/course_offered" class="sub_menu--link active">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/program_offered" class="sub_menu--link ">Programm Offered</a>
                        </li>

                    </ul>
                </li>


            </ul>
        </div>


    </div>
</nav>
{% endblock %}
<!-- /Sidebar -->

<!-- Page Wrapper -->
{% block wrapper %}
<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-8">
                    <div class="section3125">
                        <div class="explore_search">
                            <div class="ui search focus">
                                <div class="ui left icon input swdh11">
                                    <input class="prompt srch_explore" type="text"
                                        placeholder="Search for Courses, Faculty and more..">
                                    <i class="uil uil-search-alt icon icon2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="_14d25">
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <div class="fcrse_1 mt-30">
                                    <a href="#.html" class="fcrse_img">
                                        <img src="../../static/assets/faculty_assets/images/courses/img-1.jpg" alt="">
                                        <div class="course-overlay">
                                            <div class="crse_reviews">
                                                <i class="uil uil-star"></i>4.5
                                            </div>
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <div class="crse_timer">
                                                25 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <span><i class='uil uil-share-alt'></i>Share</span>
                                                <span><i class="uil uil-clock-three"></i>Watch Later</span>
                                                <span><i class='uil uil-ban'></i>Not Interested</span>
                                                <span><i class="uil uil-windsock"></i>Report</span>
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">109 Enrolled</span>
                                            <span class="vdt14">15 days ago</span>
                                        </div>
                                        <a href="#.html" class="crse14s">Complete Python Bootcamp:
                                            Go from zero to hero in Python 3</a>
                                        <a href="#" class="crse-cate">Web Development | Python</a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">By <a href="#">John Doe</a></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="fcrse_1 mt-30">
                                    <a href="#.html" class="fcrse_img">
                                        <img src="../../static/assets/faculty_assets/images/courses/img-2.jpg" alt="">
                                        <div class="course-overlay">
                                            <div class="crse_reviews">
                                                <i class="uil uil-star"></i>4.5
                                            </div>
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <div class="crse_timer">
                                                28 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <span><i class='uil uil-share-alt'></i>Share</span>
                                                <span><i class="uil uil-clock-three"></i>Watch Later</span>
                                                <span><i class='uil uil-ban'></i>Not Interested</span>
                                                <span><i class="uil uil-windsock"></i>Report</span>
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">5M Enrolled</span>
                                            <span class="vdt14">15 days ago</span>
                                        </div>
                                        <a href="#.html" class="crse14s">The Complete JavaScript
                                            Course 2020: Build Real Projects!</a>
                                        <a href="#" class="crse-cate">Development | JavaScript</a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">By <a href="#">Jassica William</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="fcrse_1 mt-30">
                                    <a href="#.html" class="fcrse_img">
                                        <img src="../../static/assets/faculty_assets/images/courses/img-20.jpg" alt="">
                                        <div class="course-overlay">
                                            <div class="crse_reviews">
                                                <i class="uil uil-star"></i>5.0
                                            </div>
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <div class="crse_timer">
                                                21 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <span><i class='uil uil-share-alt'></i>Share</span>
                                                <span><i class="uil uil-clock-three"></i>Watch Later</span>
                                                <span><i class='uil uil-ban'></i>Not Interested</span>
                                                <span><i class="uil uil-windsock"></i>Report</span>
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">200 Views</span>
                                            <span class="vdt14">4 days ago</span>
                                        </div>
                                        <a href="#.html" class="crse14s">WordPress Development -
                                            Themes, Plugins &amp; Gutenberg</a>
                                        <a href="#" class="crse-cate">Design | Wordpress</a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">By <a href="#">Joy Dua</a></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="fcrse_1 mt-30">
                                    <a href="#.html" class="fcrse_img">
                                        <img src="../../static/assets/faculty_assets/images/courses/img-4.jpg" alt="">
                                        <div class="course-overlay">
                                            <div class="crse_reviews">
                                                <i class="uil uil-star"></i>5.0
                                            </div>
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <div class="crse_timer">
                                                1 hour
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <span><i class='uil uil-share-alt'></i>Share</span>
                                                <span><i class="uil uil-clock-three"></i>Watch Later</span>
                                                <span><i class='uil uil-ban'></i>Not Interested</span>
                                                <span><i class="uil uil-windsock"></i>Report</span>
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">153k Enrolled</span>
                                            <span class="vdt14">3 months ago</span>
                                        </div>
                                        <a href="#.html" class="crse14s">The Complete Digital
                                            Marketing Course - 12 Courses in 1</a>
                                        <a href="#" class="crse-cate">Digital Marketing | Marketing</a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">By <a href="#">Poonam Verma</a></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="fcrse_1 mt-30">
                                    <a href="#.html" class="fcrse_img">
                                        <img src="../../static/assets/faculty_assets/images/courses/img-13.jpg" alt="">
                                        <div class="course-overlay">
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <div class="crse_timer">
                                                30 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <span><i class='uil uil-share-alt'></i>Share</span>
                                                <span><i class="uil uil-clock-three"></i>Watch Later</span>
                                                <span><i class='uil uil-ban'></i>Not Interested</span>
                                                <span><i class="uil uil-windsock"></i>Report</span>
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">20 Views</span>
                                            <span class="vdt14">1 day ago</span>
                                        </div>
                                        <a href="#.html" class="crse14s">The Complete Node.js
                                            Developer Course (3rd Edition)</a>
                                        <a href="#" class="crse-cate">Development | Node.js</a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">By <a href="#">John Doe</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="fcrse_1 mt-30">
                                    <a href="#.html" class="fcrse_img">
                                        <img src="../../static/assets/faculty_assets/images/courses/img-7.jpg" alt="">
                                        <div class="course-overlay">
                                            <div class="crse_reviews">
                                                <i class="uil uil-star"></i>5.0
                                            </div>
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <div class="crse_timer">
                                                5.4 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <span><i class='uil uil-share-alt'></i>Share</span>
                                                <span><i class="uil uil-clock-three"></i>Watch Later</span>
                                                <span><i class='uil uil-ban'></i>Not Interested</span>
                                                <span><i class="uil uil-windsock"></i>Report</span>
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">109k Enrolled</span>
                                            <span class="vdt14">15 days ago</span>
                                        </div>
                                        <a href="#.html" class="crse14s">WordPress for Beginners:
                                            Create a Website Step by Step</a>
                                        <a href="#" class="crse-cate">Design | Wordpress</a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">By <a href="#">Sabnam SIngh</a></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="fcrse_1 mt-30">
                                    <a href="#.html" class="fcrse_img">
                                        <img src="../../static/assets/faculty_assets/images/courses/img-8.jpg" alt="">
                                        <div class="course-overlay">
                                            <div class="crse_reviews">
                                                <i class="uil uil-star"></i>4.0
                                            </div>
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <div class="crse_timer">
                                                23 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <span><i class='uil uil-share-alt'></i>Share</span>
                                                <span><i class="uil uil-clock-three"></i>Watch Later</span>
                                                <span><i class='uil uil-ban'></i>Not Interested</span>
                                                <span><i class="uil uil-windsock"></i>Report</span>
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">196k Enrolled</span>
                                            <span class="vdt14">1 month ago</span>
                                        </div>
                                        <a href="#.html" class="crse14s">CSS - The Complete Guide
                                            2020 (incl. Flexbox, Grid &amp; Sass)</a>
                                        <a href="#" class="crse-cate">Design | CSS</a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">By <a href="#">Jashanpreet Singh</a></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="fcrse_1 mt-30">
                                    <a href="#" class="fcrse_img">
                                        <img src="../../static/assets/faculty_assets/images/courses/img-16.jpg" alt="">
                                        <div class="course-overlay">
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <div class="crse_timer">
                                                22 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <span><i class='uil uil-share-alt'></i>Share</span>
                                                <span><i class="uil uil-clock-three"></i>Watch Later</span>
                                                <span><i class='uil uil-ban'></i>Not Interested</span>
                                                <span><i class="uil uil-windsock"></i>Report</span>
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">11 Views</span>
                                            <span class="vdt14">5 Days ago</span>
                                        </div>
                                        <a href="#.html" class="crse14s">Vue JS 2 - The Complete
                                            Guide (incl. Vue Router &amp; Vuex)</a>
                                        <a href="#" class="crse-cate">Development | Vue JS</a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">By <a href="#">Manreet Kaur</a></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="main-loader mt-50">
                                    <div class="spinner">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
<!-- /Page Wrapper -->