{% extends 'department/departmentbase.html' %}

{% block style %}


<!-- Main CSS -->
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='assets/faculty_assets/css/instructor-dashboard.css') }}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='assets/faculty_assets/css/instructor-responsive.css') }}">


{% endblock %}

<!-- Sidebar -->
{% block sidebar %}
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a href="/department" class="menu--link" title="Home">
                        <i class='uil uil-home-alt menu--icon'></i>
                        <span class="menu--label">Home</span>
                    </a>
                </li>


                <li class="menu--item  menu--item__has_sub_menu ">
                    <label class="menu--link active" title="Tests">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label active">Computer Science</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/cse" class="sub_menu--link">CSE</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/student_list" class="sub_menu--link ">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/program_offered" class="sub_menu--link active">Programm Offered</a>
                        </li>

                    </ul>
                </li>


            </ul>
        </div>


    </div>
</nav>
{% endblock %}
<!-- /Sidebar -->

<!-- Page Wrapper -->
{% block wrapper %}
<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="st_title"><i class="uil uil-book-alt"></i>Programs</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="my_courses_tabs">
                        <ul class="nav nav-pills my_crse_nav" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-my-courses-tab" data-toggle="pill"
                                    href="#pills-my-courses" role="tab" aria-controls="pills-my-courses"
                                    aria-selected="true"><i class="uil uil-book-alt"></i>Active Programs</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="pills-upcoming-courses-tab" data-toggle="pill"
                                    href="#pills-upcoming-courses" role="tab" aria-controls="pills-upcoming-courses"
                                    aria-selected="false"><i class="uil uil-upload-alt"></i>Upcoming Programs</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
                                <div class="table-responsive mt-30">
                                    <table class="table ucp-table">
                                        <thead class="thead-s">
                                            <tr>
                                                <th class="text-center" scope="col">Item No.</th>
                                                <th>Name</th>
                                                <th class="text-center" scope="col">Publish Date</th>
                                                <th class="text-center" scope="col">Enrolled</th>
                                                <th class="text-center" scope="col">Parts</th>
                                                <th class="text-center" scope="col">Category</th>
                                                <th class="text-center" scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">IT-001</td>
                                                <td>Course Title Here</td>
                                                <td class="text-center">06 April 2020 | 08:31</td>
                                                <td class="text-center">15</td>
                                                <td class="text-center">5</td>
                                                <td class="text-center"><a href="#">Web Development</a></td>
                                                <td class="text-center"><b class="course_active">Active</b></td>

                                            </tr>
                                            <tr>
                                                <td class="text-center">IT-002</td>
                                                <td>Course Title Here</td>
                                                <td class="text-center">05 April 2020 | 05:15</td>
                                                <td class="text-center">30</td>
                                                <td class="text-center">3</td>
                                                <td class="text-center"><a href="#">Graphic Design</a></td>
                                                <td class="text-center"><b class="course_active">Active</b></td>

                                            </tr>
                                            <tr>
                                                <td class="text-center">IT-003</td>
                                                <td>Course Title</td>
                                                <td class="text-center">03 April 2020 | 01:30</td>
                                                <td class="text-center">14</td>
                                                <td class="text-center">5</td>
                                                <td class="text-center"><a href="#">Bootstrap</a></td>
                                                <td class="text-center"><b class="course_active">Active</b></td>

                                            </tr>
                                            <tr>
                                                <td class="text-center">IT-004</td>
                                                <td>Course Title Here</td>
                                                <td class="text-center">02 April 2020 | 05:15</td>
                                                <td class="text-center">110</td>
                                                <td class="text-center">9</td>
                                                <td class="text-center"><a href="#">Game Development</a></td>
                                                <td class="text-center"><b class="course_active">Active</b></td>

                                            </tr>
                                            <tr>
                                                <td class="text-center">IT-002</td>
                                                <td>Course Title Here</td>
                                                <td class="text-center">28 March 2020 | 05:15</td>
                                                <td class="text-center">185</td>
                                                <td class="text-center">10</td>
                                                <td class="text-center"><a href="#">C++</a></td>
                                                <td class="text-center"><b class="course_active">Active</b></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-upcoming-courses" role="tabpanel">
                                <div class="table-responsive mt-30">
                                    <table class="table ucp-table">
                                        <thead class="thead-s">
                                            <tr>
                                                <th class="text-center" scope="col">Item No.</th>
                                                <th class="cell-ta">Name</th>
                                                <th class="text-center" scope="col">Thumbnail</th>
                                                <th class="text-center">Category</th>
                                                <th class="text-center">Duration</th>
                                                <th class="text-center">Date</th>
                                                <th class="text-center" scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">01</td>
                                                <td class="cell-ta">Course Title Here</td>
                                                <td class="text-center"><a href="#">View</a></td>
                                                <td class="text-center"><a href="#">Web Development</a></td>
                                                <td class="text-center">15 hr</td>
                                                <td class="text-center">9 April 2020</td>
                                                <td class="text-center"><b class="course_active">Pending</b></td>

                                            </tr>
                                            <tr>
                                                <td class="text-center">02</td>
                                                <td class="cell-ta">Course Title Here</td>
                                                <td class="text-center"><a href="#">View</a></td>
                                                <td class="text-center"><a href="#">Graphic Design</a></td>
                                                <td class="text-center">12 hr</td>
                                                <td class="text-center">8 April 2020</td>
                                                <td class="text-center"><b class="course_active">Pending</b></td>

                                            </tr>
                                            <tr>
                                                <td class="text-center">03</td>
                                                <td class="cell-ta">Course Title Here</td>
                                                <td class="text-center"><a href="#">View</a></td>
                                                <td class="text-center"><a href="#">Photography</a></td>
                                                <td class="text-center">26 hr</td>
                                                <td class="text-center">7 April 2020</td>
                                                <td class="text-center"><b class="course_active">Pending</b></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-promotions" role="tabpanel"
                                aria-labelledby="pills-promotions-tab">
                                <div class="promotion_tab mb-10">
                                    <img src="../../static/assets/faculty_assets/images/dashboard/promotion.svg" alt="">
                                    <h4>Baby promotion plan is activated!</h4>
                                    <p>By activating promotion plans you can improve courses and Enrolled.</p>
                                    <button class="plan_link_btn" onclick="window.location.href = '#';">Change New
                                        Plan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
<!-- /Page Wrapper -->