{% extends 'department/departmentbase.html' %}



<!-- Sidebar -->
{% block sidebar %}
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a href="/department" class="menu--link active" title="Home">
                        <i class='uil uil-home-alt menu--icon'></i>
                        <span class="menu--label">Home</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="live_streams.html" class="menu--link" title="Live Streams">
                        <i class='uil uil-kayak menu--icon'></i>
                        <span class="menu--label">Student List</span>
                    </a>
                </li>

                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Tests">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">Computer Science</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/cse/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>

                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Pages">
                        <i class='uil uil-file menu--icon'></i>
                        <span class="menu--label">Electrical</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/ee/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/ee/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/ee/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/ee/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>
                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Tests">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">Mechanical</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/mech/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mech/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mech/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mech/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>

                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Pages">
                        <i class='uil uil-file menu--icon'></i>
                        <span class="menu--label">Civil</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/civil/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/civil/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/civil/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/civil/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>
                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Pages">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">MEMS</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/mems/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mems/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mems/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mems/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a href="all_instructor.html" class="menu--link active" title="Browse Instructors">
                        <i class='uil uil-plus-circle menu--icon'></i>
                        <span class="menu--label">Browse Instructors</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
{% endblock %}
<!-- /Sidebar -->

<!-- Page Wrapper -->
{% block wrapper %}