{% extends 'department/departmentbase.html' %}

<!-- Sidebar -->
{% block sidebar %}
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a href="/department" class="menu--link" title="Home">
                        <i class='uil uil-home-alt menu--icon'></i>
                        <span class="menu--label">Home</span>
                    </a>
                </li>


                <li class="menu--item  menu--item__has_sub_menu ">
                    <label class="menu--link active" title="Tests">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label active">Computer Science</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/cse" class="sub_menu--link "> CSE</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/student_list" class="sub_menu--link active">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/cse/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>

                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link " title="Pages">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">Electrical</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/ee/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/ee/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/ee/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/ee/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>
                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Tests">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">Mechanical</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/mech/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mech/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mech/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mech/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>

                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Pages">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">Civil</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/civil/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/civil/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/civil/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/civil/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>
                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Pages">
                        <i class='uil uil-clipboard-alt menu--icon'></i>
                        <span class="menu--label">MEMS</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="/department/mems/student_list" class="sub_menu--link">Students List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mems/faculty_list" class="sub_menu--link">Faculty List</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mems/course_offered" class="sub_menu--link">Course Offered</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="/department/mems/program_offered" class="sub_menu--link">Programm Offered</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>


    </div>
</nav>
{% endblock %}
<!-- /Sidebar -->

<!-- Page Wrapper -->
{% block wrapper %}
<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="section3125">
                        <h4 class="item_title">All Students</h4>
                        <div class="la5lo1">
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-1.jpg"
                                                alt="">
                                            <h4>John Doe</h4>
                                            <p>DBMS<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-2.jpg"
                                                alt="">
                                            <h4>Jassica</h4>
                                            <p>DSA<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-9.jpg"
                                                alt="">
                                            <h4>UMS</h4>
                                            <p>DAA<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-3.jpg"
                                                alt="">
                                            <h4>Joginder Singh</h4>
                                            <p>DBMS<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-4.jpg"
                                                alt="">
                                            <h4>Zoena</h4>
                                            <p>DBMS<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-5.jpg"
                                                alt="">
                                            <h4>Albert Dua</h4>
                                            <p>DBMS<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-6.jpg"
                                                alt="">
                                            <h4>Ridhima</h4>
                                            <p>DSA<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-7.jpg"
                                                alt="">
                                            <h4>Amritpal</h4>
                                            <p>DSA<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-8.jpg"
                                                alt="">
                                            <h4>Jimmy</h4>
                                            <p>DAA<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-11.jpg"
                                                alt="">
                                            <h4>Quinton Batchelor</h4>
                                            <p>ML/AI<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-12.jpg"
                                                alt="">
                                            <h4>Eli Natoli</h4>
                                            <p>ML/AI<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-13.jpg"
                                                alt="">
                                            <h4>Jaysen Batchelor</h4>
                                            <p>MATHS<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-14.jpg"
                                                alt="">
                                            <h4>Farhat Amin</h4>
                                            <p>DAA<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-15.jpg"
                                                alt="">
                                            <h4>Kyle Pew</h4>
                                            <p>MATHS<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-16.jpg"
                                                alt="">
                                            <h4>Kerstin Cable</h4>
                                            <p>SOFTWARE<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-17.jpg"
                                                alt="">
                                            <h4>Jose Portilla</h4>
                                            <p>SOFTWARE<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-16.jpg"
                                                alt="">
                                            <h4>Kerstin Cable</h4>
                                            <p>SOFTWARE<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="stream_1 mb-30">
                                        <a href="#" class="stream_bg">
                                            <img src="../../static/assets/faculty_assets/images/left-imgs/img-17.jpg"
                                                alt="">
                                            <h4>Jose Portilla</h4>
                                            <p>SOFTWARE<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="main-loader mt-20">
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="footer mt-30">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 my-2">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="fotb_left">
                                <li>
                                    <a href="index.html">
                                        <div class="footer_logo">
                                            <img src="../../static/assets/faculty_assets/images/logo1.svg" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <p>© 2021 <strong>UMS - IIT Indore</strong>. All Rights Reserved.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="edu_social_links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
<!-- /Page Wrapper -->