<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>UMS - University Management System</title>

  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='LandingPage/css/plugins.css') }}">
  <!-- <link href="css/plugins.css" rel="stylesheet"> -->

  <!-- Custom CSS -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='LandingPage/css/style.css') }}">

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="shortcut icon" type="image/x-icon"
    href="{{ url_for('static',filename='LandingPage/images/favicon.ico') }}">



  {% endblock %}
</head>

<body>
  {% block body %}



  {% endblock %}
</body>

</html>