{% extends 'base.html' %}


{% block style %}
<style>
    .our-team {
        padding: 30px 0 40px;
        margin-bottom: 30px;
        background-color: #f7f5ec;
        text-align: center;
        overflow: hidden;
        position: relative;
    }

    .our-team .picture {
        display: inline-block;
        height: 130px;
        width: 130px;
        margin-bottom: 50px;
        z-index: 1;
        position: relative;
    }

    .our-team .picture::before {
        content: "";
        width: 100%;
        height: 0;
        border-radius: 50%;
        background-color: #1369ce;
        position: absolute;
        bottom: 135%;
        right: 0;
        left: 0;
        opacity: 0.9;
        transform: scale(3);
        transition: all 0.3s linear 0s;
    }

    .our-team:hover .picture::before {
        height: 100%;
    }

    .our-team .picture::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #1369ce;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .our-team .picture img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.9s ease 0s;
    }

    .our-team:hover .picture img {
        box-shadow: 0 0 0 14px #f7f5ec;
        transform: scale(0.7);
    }

    .our-team .title {
        display: block;
        font-size: 15px;
        color: #4e5052;
        text-transform: capitalize;
    }

    .our-team .social {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #1369ce;
        position: absolute;
        bottom: -100px;
        left: 0;
        transition: all 0.5s ease 0s;
    }

    .our-team:hover .social {
        bottom: 0;
    }

    .our-team .social li {
        display: inline-block;
    }

    .our-team .social li a {
        display: block;
        padding: 10px;
        font-size: 17px;
        color: white;
        transition: all 0.3s ease 0s;
        text-decoration: none;
    }

    .our-team .social li a:hover {
        color: #1369ce;
        background-color: #f7f5ec;
    }
</style>

{% endblock %}



{% block nav %}

<!-- Start Navbar Area -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="logo"> <a href="/">
                <h3><img src="../static/LandingPage/images/logo1.png" alt=""></h3>
            </a> </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"> <a href="/" class="nav-link"> Home </a> </li>
                <li class="nav-item"> <a href="/#about" class="nav-link"> About </a> </li>
                <li class="nav-item"> <a href="/#services" class="nav-link"> Services </a> </li>
                <li class="nav-item"> <a href="/#portfolio" class="nav-link"> Portfolio </a> </li>
                <li class="nav-item"> <a href="/#team" class="nav-link"> Our Team </a> </li>
                <li class="nav-item"> <a href="/#contact" class="nav-link"> Contact </a> </li>
            </ul>
            <div class="others-option">
                <div class="d-flex align-items-center">
                    <div class="option-item">
                        <ul class="social-icon">
                            <!-- <li> <a href="#"> <i class="ti-twitter"></i> </a> </li> -->
                            <li class="getstarted">
                                <a href="/getStarted" class="btn btn__primary btn__lg mr-3"> <span>Get Started</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- End Navbar Area -->
{% endblock %}


{% block body %}

<section id="login" class="about" style="padding-top: 100px">
    <div class="container ">
        <h3>Sorry Not Logged In!</h3>
        <div class="section-title" data-aos="zoom-out">
            <h2>LogIn/SignUp</h2>
            <p class="text-primary font-weight-bold">Who we are</p>
        </div>

        <div class="container text-center" data-aos="fade-out">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 ">
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="../static/LandingPage/images/Extra_images/avatar7.png">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Student</h3>
                            <h4 class="title">user</h4>
                        </div>
                        <ul class="social">
                            <li><a href="/login/student"><i class='bx bxs-log-in-circle'></i>LOGIN</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 ">
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="../static/LandingPage/images/Extra_images/admin.png">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Admin</h3>
                            <h4 class="title">Member</h4>
                        </div>
                        <ul class="social">
                            <li><a href="/login/admin"><i class='bx bxs-log-in-circle'></i>LOGIN</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-3 ">
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="../static/LandingPage/images/Extra_images/graduate.png">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Faculty</h3>
                            <h4 class="title">Instructor</h4>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="/login/faculty"><i class='bx bxs-log-in-circle'></i> </i> LOGIN</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 ">
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="../static/LandingPage/images/Extra_images/department.png">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Department</h3>
                            <h4 class="title">Avail</h4>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="/department"><i class='bx bxs-check-circle'></i> </i> CHECK</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>

{% block footer %}

{% endblock %}

{% block script %}
<!-- jQuery Min JS -->
<!--jquery js -->
<script src="../static/LandingPage/js/jquery-min.js"></script>
<script src="../static/LandingPage/js/popper.min.js"></script>
<!--jquery js -->
<script src="../static/LandingPage/js/bootstrap.min.js"></script>
<!--jquery js -->
<script src="../static/LandingPage/js/plugins.js"></script>
<!--Fontawesome js -->
<script src="../static/LandingPage/js/fontawesome.js"></script>
<!--Slick js -->
<script src="../static/LandingPage/js/slick.min.js"></script>
<!-- Odometer JS -->
<script src="../static/LandingPage/js/odometer.min.js"></script>
<!-- Appear JS -->
<script src="../static/LandingPage/js/jquery.appear.js"></script>
<!-- MagnificPopup JS -->
<script src="../static/LandingPage/js/jquery.magnific-popup.min.js"></script>
<!-- Form Validations -->
<script src="../static/LandingPage/js/form-validation.js"></script>
<!--jquery js -->
<script src="../static/LandingPage/js/custom.js"></script>

{% endblock %}


{% endblock %}