<!doctype html>
<html>


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ableedu - Education HTML Responsive One Page Template</title>
  <!-- Plugins CSS -->
  <link href="css/plugins.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="css/style.css" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body data-spy="scroll" data-offset="120">
  <!-- Pre Loader -->
  <div id="dvLoading"></div>
  <!-- Start Navbar Area -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="logo"> <a href="#home">
          <h3><img src="images/logo.png" alt=""></h3>
        </a> </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"> <a href="#home" class="nav-link"> Home </a> </li>
          <li class="nav-item"> <a href="#about" class="nav-link"> About </a> </li>
          <li class="nav-item"> <a href="#services" class="nav-link"> Services </a> </li>
          <li class="nav-item"> <a href="#team" class="nav-link"> Our Team </a> </li>
          <li class="nav-item"> <a href="#portfolio" class="nav-link"> Portfolio </a> </li>
          <li class="nav-item"> <a href="#blog" class="nav-link"> Blog </a> </li>
          <li class="nav-item"> <a href="#contact" class="nav-link"> Contact </a> </li>
        </ul>
        <div class="others-option">
          <div class="d-flex align-items-center">
            <div class="option-item">
              <ul class="social-icon">
                <li> <a href="#"> <i class="ti-twitter"></i> </a> </li>
                <li> <a href="#"> <i class="ti-instagram"></i> </a> </li>
                <li> <a href="#"> <i class="ti-facebook"></i> </a> </li>
                <li> <a href="#"> <i class="ti-linkedin"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End Navbar Area -->
  <!-- Start Slider Area -->
  <section id="home" class="slider slider-layout1">
    <div class="slick-carousel carousel-arrows-light m-slides-0"
      data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
      <div class="slide-item align-v-h bg-overlay">
        <div class="bg-img"><img src="images/slider-img1.jpg" alt=""></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
              <div class="slide-item__content">
                <h1 class="slide-item__subtitle">Welcome to Ableedu</h1>
                <h2 class="slide-item__title">Growth You Career With Complete Courses</h2>
                <p class="slide-item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum recusandae
                  placeat atque molli</p>
                <a href="javascript:void(0)" class="btn btn__primary btn__lg mr-3"> <span>Contact Us</span> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.slide-item -->
      <div class="slide-item align-v-h bg-overlay">
        <div class="bg-img"><img src="images/slider-img2.jpg" alt=""></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
              <div class="slide-item__content">
                <h1 class="slide-item__subtitle">Welcome to Ableedu</h1>
                <h2 class="slide-item__title">Growth You Career With Complete Courses</h2>
                <p class="slide-item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum recusandae
                  placeat atque molli</p>
                <a href="javascript:void(0)" class="btn btn__primary btn__lg mr-3"> <span>Contact Us</span> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Slider Area -->
  <!-- Start Features Area -->
  <section class="features-area pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <!-- Single Features Area -->
          <div class="single-feature-sec">
            <span><img src="images/f-icon-1.png" alt=""></span>
            <h3>Arts Programs</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              dolore</p>
            <div></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Single Features Area -->
          <div class="single-feature-sec">
            <span><img src="images/f-icon-2.png" alt=""></span>
            <h3>Foreign Language</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              dolore</p>
            <div></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Single Features Area -->
          <div class="single-feature-sec">
            <span><img src="images/f-icon-3.png" alt=""></span>
            <h3>Sports Playing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              dolore</p>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Features Area -->
  <!-- Start About Area -->
  <section id="about" class="about-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-img about-image-02" style="background-image: url(images/about-img2.jpg);">
            <div class="vdo-btn"> <a class="video-play-btn mfp-iframe"
                href="https://www.youtube.com/embed/-ZwQtICNbRc"><i class="fas fa-play"></i></a> </div>
            <div class="thumb"> <img src="images/about-img.jpg" alt=""> </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content-wrapper">
            <div class="concern-content">
              <div class="content">
                <div class="section-title">
                  <h2 class="title">We are providing best education by some experienced Staff</h2>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                  <ul class="book-list">
                    <li> <i class="ti-check-box"></i> Arts Programs </li>
                    <li> <i class="ti-check-box"></i> Foreign Language</li>
                    <li> <i class="ti-check-box"></i> Sports Playing</li>
                    <li> <i class="ti-check-box"></i> Awesome Courses</li>
                    <li> <i class="ti-check-box"></i> Medical Service</li>
                    <li> <i class="ti-check-box"></i> Many Sports</li>
                    <li> <i class="ti-check-box"></i> Online Courses</li>
                    <li> <i class="ti-check-box"></i> Transportation</li>
                    <li> <i class="ti-check-box"></i> Fully Responsive </li>
                    <li> <i class="ti-check-box"></i> Clean Design </li>
                    <li> <i class="ti-check-box"></i> Retina Ready </li>
                    <li> <i class="ti-check-box"></i> Customer Support </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Area -->
  <!-- Start Fun Facts Area -->
  <section class="fun-facts-area pt-100 pb-70">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-sm-6">
          <div class="single-fun-fact">
            <div class="icon"> <i class="las la-book-open"></i> </div>
            <h3> <span class="odometer" data-count="370">00</span> </h3>
            <p>Total Pages</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-fun-fact">
            <div class="icon"> <i class="las la-user"></i> </div>
            <h3> <span class="odometer" data-count="560">00</span> </h3>
            <p>Active Readers</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-fun-fact">
            <div class="icon"> <i class="lar la-heart"></i> </div>
            <h3> <span class="odometer" data-count="260">00</span> </h3>
            <p>Facebook Fans</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-fun-fact">
            <div class="icon"> <i class="lar la-envelope-open"></i> </div>
            <h3> <span class="odometer" data-count="789">00</span> </h3>
            <p>Subscribers</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Fun Facts Area -->
  <!-- Start Services Area -->
  <section id="services" class="services-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section-title mb-0">
            <h2>Services</h2>
            <p>With occupancy rates at near capacity and an increasing number of complex patients, our existing
              facilities are being enhanced and new facilities created to meet today’s needs.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <!-- Single Services Area -->
          <div class="single-service-sec">
            <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon bx bx-book"></span> </div>
              <h5>Awesome Courses</h5>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Single Services Area -->
          <div class="single-service-sec">
            <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon bx bx-plus-medical"></span> </div>
              <h5>Medical Service</h5>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Single Services Area -->
          <div class="single-service-sec">
            <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon bx bx-football"></span> </div>
              <h5>Many Sports</h5>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Single Services Area -->
          <div class="single-service-sec">
            <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon bx bx-globe"></span> </div>
              <h5>Online Courses</h5>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Single Services Area -->
          <div class="single-service-sec">
            <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon bx bx-car"></span> </div>
              <h5>Transportation</h5>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Single Services Area -->
          <div class="single-service-sec">
            <div class="inner-box">
              <div class="shape-one"></div>
              <div class="shape-two"></div>
              <div class="icon-box"> <span class="icon bx bx-phone"></span> </div>
              <h5>Customer Support</h5>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Area -->
  <!-- Start Team Area -->
  <section id="team" class="team-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section-title mb-0">
            <h2>Our Team</h2>
            <p>With occupancy rates at near capacity and an increasing number of complex patients, our existing
              facilities are being enhanced and new facilities created to meet today’s needs.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <!-- Single Team Area -->
          <div class="team-item">
            <img src="images/team-img1.jpg" alt="" title="">
            <h3>Andres Pedlock</h3>
            <span>Our Staff</span>
            <ul>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-facebook"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-twitter"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-pinterest-alt"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-linkedin"></i> </a> </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <!-- Single Team Area -->
          <div class="team-item">
            <img src="images/team-img2.jpg" alt="" title="">
            <h3>Less Williams</h3>
            <span>Our Staff</span>
            <ul>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-facebook"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-twitter"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-pinterest-alt"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-linkedin"></i> </a> </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <!-- Single Team Area -->
          <div class="team-item">
            <img src="images/team-img3.jpg" alt="" title="">
            <h3>John Doe</h3>
            <span>Our Staff</span>
            <ul>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-facebook"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-twitter"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-pinterest-alt"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-linkedin"></i> </a> </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <!-- Single Team Area -->
          <div class="team-item">
            <img src="images/team-img4.jpg" alt="" title="">
            <h3>Jack Mehoff</h3>
            <span>Our Staff</span>
            <ul>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-facebook"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-twitter"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-pinterest-alt"></i> </a> </li>
              <li> <a href="javascript:void(0)"> <i class="bx bxl-linkedin"></i> </a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Area -->
  <!-- Start Portfolio Area -->
  <section id="portfolio" class="portfolio-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section-title mb-0">
            <h2>Our Portfolio</h2>
            <p>With occupancy rates at near capacity and an increasing number of complex patients, our existing
              facilities are being enhanced and new facilities created to meet today’s needs.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="images/gallery-img1.jpg" alt="">
              <div class="gallery-overlay"> <a href="images/gallery-img1.jpg"><i class="ti-plus"></i></a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="images/gallery-img2.jpg" alt="">
              <div class="gallery-overlay"> <a href="images/gallery-img2.jpg"><i class="ti-plus"></i></a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="images/gallery-img3.jpg" alt="">
              <div class="gallery-overlay"> <a href="images/gallery-img3.jpg"><i class="ti-plus"></i></a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="images/gallery-img4.jpg" alt="">
              <div class="gallery-overlay"> <a href="images/gallery-img4.jpg"><i class="ti-plus"></i></a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="images/gallery-img5.jpg" alt="">
              <div class="gallery-overlay"> <a href="images/gallery-img5.jpg"><i class="ti-plus"></i></a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="images/gallery-img6.jpg" alt="">
              <div class="gallery-overlay"> <a href="images/gallery-img6.jpg"><i class="ti-plus"></i></a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="images/gallery-img7.jpg" alt="">
              <div class="gallery-overlay"> <a href="images/gallery-img7.jpg"><i class="ti-plus"></i></a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="images/gallery-img8.jpg" alt="">
              <div class="gallery-overlay"> <a href="images/gallery-img8.jpg"><i class="ti-plus"></i></a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="images/gallery-img9.jpg" alt="">
              <div class="gallery-overlay"> <a href="images/gallery-img9.jpg"><i class="ti-plus"></i></a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Area -->
  <!-- Start Pricing Area -->
  <section class="pricing-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section-title mb-0">
            <h2>Pricing Plans</h2>
            <p>With occupancy rates at near capacity and an increasing number of complex patients, our existing
              facilities are being enhanced and new facilities created to meet today’s needs.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <!-- Single Pricing Area -->
          <div class="single-pricing">
            <div class="pric-logo"><i class="bx bx-book"></i></div>
            <span>Basic</span>
            <h2>$100</h2>
            <p>One Time Installation</p>
            <ul>
              <li><i class="fa fa-check"></i>5 Room Cleaning</li>
              <li><i class="fa fa-check"></i>2 Bathroom Cleaning</li>
              <li><i class="fa fa-check"></i>Window Cleaning</li>
              <li><i class="fa fa-check"></i>Floor Cleaning</li>
              <li><i class="fa fa-check"></i>Vacuuming</li>
            </ul>
            <a class="btn btn__primary btn__lg" href="javascript:void(0)">Buy Now</a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Start Pricing Area -->
          <div class="single-pricing active">
            <div class="pric-logo"><i class="bx bx-book"></i></div>
            <span>Advance</span>
            <h2>$125</h2>
            <p>One Time Installation</p>
            <ul>
              <li><i class="fa fa-check"></i>5 Room Cleaning</li>
              <li><i class="fa fa-check"></i>2 Bathroom Cleaning</li>
              <li><i class="fa fa-check"></i>Window Cleaning</li>
              <li><i class="fa fa-check"></i>Floor Cleaning</li>
              <li><i class="fa fa-check"></i>Vacuuming</li>
            </ul>
            <a class="btn btn__primary btn__lg" href="javascript:void(0)">Buy Now</a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Start Pricing Area -->
          <div class="single-pricing">
            <div class="pric-logo"><i class="bx bx-book"></i></div>
            <span>Ultimate</span>
            <h2>$199</h2>
            <p>One Time Installation</p>
            <ul>
              <li><i class="fa fa-check"></i>5 Room Cleaning</li>
              <li><i class="fa fa-check"></i>2 Bathroom Cleaning</li>
              <li><i class="fa fa-check"></i>Window Cleaning</li>
              <li><i class="fa fa-check"></i>Floor Cleaning</li>
              <li><i class="fa fa-check"></i>Vacuuming</li>
            </ul>
            <a class="btn btn__primary btn__lg" href="javascript:void(0)">Buy Now</a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Portfolio Area -->
  <!-- Start Blog Area -->
  <section id="blog" class="blog-sec">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section-title mb-0">
            <h2>Our Blog</h2>
            <p>With occupancy rates at near capacity and an increasing number of complex patients, our existing
              facilities are being enhanced and new facilities created to meet today’s needs.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <!-- Single Blog Area -->
          <div class="blog_one_single">
            <div class="blog_one_image"> <img src="images/blog-img1.jpg" alt=""> </div>
            <div class="blog-one__content">
              <ul class="list-unstyled blog-one__meta">
                <li><a href="news-detail.html"><i class="far fa-user-circle"></i> Admin</a></li>
                <li><a href="news-detail.html"><i class="far fa-comments"></i> 2 Comments</a> </li>
              </ul>
              <div class="blog_one_title">
                <h3><a href="#">What is Lorem Ipsum?</a></h3>
              </div>
              <div class="blog_one_text">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters.</p>
              </div>
              <div class="date_btn"> <a href="#">12 Jul, 2020</a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Single Blog Area -->
          <div class="blog_one_single">
            <div class="blog_one_image"> <img src="images/blog-img2.jpg" alt=""> </div>
            <div class="blog-one__content">
              <ul class="list-unstyled blog-one__meta">
                <li><a href="news-detail.html"><i class="far fa-user-circle"></i> Admin</a></li>
                <li><a href="news-detail.html"><i class="far fa-comments"></i> 2 Comments</a> </li>
              </ul>
              <div class="blog_one_title">
                <h3><a href="#">Where does it come from?</a></h3>
              </div>
              <div class="blog_one_text">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters.</p>
              </div>
              <div class="date_btn"> <a href="#">12 Jul, 2020</a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Single Blog Area -->
          <div class="blog_one_single">
            <div class="blog_one_image"> <img src="images/blog-img3.jpg" alt=""> </div>
            <div class="blog-one__content">
              <ul class="list-unstyled blog-one__meta">
                <li><a href="news-detail.html"><i class="far fa-user-circle"></i> Admin</a></li>
                <li><a href="news-detail.html"><i class="far fa-comments"></i> 2 Comments</a> </li>
              </ul>
              <div class="blog_one_title">
                <h3><a href="#">Where can I get some?</a></h3>
              </div>
              <div class="blog_one_text">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters.</p>
              </div>
              <div class="date_btn"> <a href="#">12 Jul, 2020</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Blog Area -->
  <!-- Start Contact Area -->
  <section id="contact" class="contact-sec">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section-title">
            <h2>Contact Us</h2>
            <p>With occupancy rates at near capacity and an increasing number of complex patients, our existing
              facilities are being enhanced and new facilities created to meet today’s needs.</p>
          </div>
        </div>
      </div>
      <div class="row contactformbg">
        <div class="col-md-6">
          <div class="contact-address">
            <h3 class="contact-title">Contact Information</h3>
            <div class="single-contact-address pb-3">
              <div class="icon"> <i class="ti-mobile"></i> </div>
              <div class="content">
                <p>+012-456-7890 <br>
                  +897-6325-9595</p>
              </div>
            </div>
            <div class="single-contact-address pb-3">
              <div class="icon"> <i class="ti-email"></i> </div>
              <div class="content">
                <p>info@test.com <br>
                  test@test.com</p>
              </div>
            </div>
            <div class="single-contact-address pb-3">
              <div class="icon"> <i class="ti-location-arrow"></i> </div>
              <div class="content">
                <p>150 Main Road #200, Alexandria,<br>
                  VA 22314, USA</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact-form-wrap">
            <form class="contact__form-panel" id="contactForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="single-input-item">
                    <input type="text" name="name" id="name" class="form-control" required placeholder="Your Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input-item">
                    <input type="email" name="email" id="email" class="form-control" required placeholder="Your Email">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="single-input-item">
                    <input type="text" name="phone" id="phone" required class="form-control" placeholder="Your Phone"
                      onkeypress="return isNumberKey(event)">
                    <script>
                      function isNumberKey(evt) {
                        var charCode = (evt.which) ? evt.which : event.keyCode
                        if (charCode > 31 && (charCode < 48 || charCode > 57))
                          return false;
                        return true;
                      }
                    </script>
                  </div>
                </div>
                <div class="col-12">
                  <div class="single-input-item">
                    <textarea name="message" id="message" class="form-control" cols="30" rows="5" required
                      placeholder="Your Message"></textarea>
                  </div>
                  <div class="single-input-item mb-0 mt-40">
                    <button type="submit" id="submitbtn" class="btn btn__primary btn__lg">Submit Request</button>
                    <div id="successmsg" class="hidden solid #bcbcbc alert alert-success"> <a href="#" class="close"
                        data-dismiss="alert" aria-label="close">&times;</a> Thank you for contacting us!</div>
                    <div id="errormsg" class="hidden solid #bcbcbc alert alert-danger"> <a href="#" class="close"
                        data-dismiss="alert" aria-label="close">&times;</a> Failed to submit the form. Try again. </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Area -->
  <!-- Start Map Area -->
  <div class="map-area">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198710.35112897935!2d-98.51489117772236!3d38.904562823631146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1471865832140"></iframe>
  </div>
  <!-- End Contact Sec -->
  <!-- Copyright Wrapper Start -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>© Copyright <span id="year"></span> Ableedu. Template Designed by <span class="color">SBTechnosoft</span>.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery Min JS -->
  <!--jquery js -->
  <script src="js/jquery-min.js"></script>
  <script src="js/popper.min.js"></script>
  <!--jquery js -->
  <script src="js/bootstrap.min.js"></script>
  <!--jquery js -->
  <script src="js/plugins.js"></script>
  <!--Fontawesome js -->
  <script src="js/fontawesome.js"></script>
  <!--Slick js -->
  <script src="js/slick.min.js"></script>
  <!-- Odometer JS -->
  <script src="js/odometer.min.js"></script>
  <!-- Appear JS -->
  <script src="js/jquery.appear.js"></script>
  <!-- MagnificPopup JS -->
  <script src="js/jquery.magnific-popup.min.js"></script>
  <!-- Form Validations -->
  <script src="js/form-validation.js"></script>
  <!--jquery js -->
  <script src="js/custom.js"></script>
</body>


</html>